.pdfModal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999 !important; 
}

.pdfModal-box {
  width: 90vw;
  height: 90vh;
  background: white;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.pdfModal-close {
  position: absolute;
  top: 10px;
  right: 12px;
  background: #ff4d4d;
  color: #fff;
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  z-index: 50;
}

.pdfModal-content {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pdfModal-content embed {
  width: 100%;
  height: 100%;
  border: none;
}
