.header-section h1 {
    display: flex;
  justify-content: center; 
   font-family: 'Poppins', sans-serif;
  font-size: 1.5rem; /* tamaño de la letra */
  color: #ffffff; /* color del texto */
  text-align: center; /* centrar el texto */
  font-weight: bold; /* ponerlo en negritas */
  text-transform: uppercase; /* mayúsculas */
  margin-top: 5px; /* separación superior */
  margin-bottom: 5px; /* separación inferior */
  margin-left: 15px;
  letter-spacing: 2px; /* espacio entre letras */
  
}

.header-section {
  background-color: #7d0024;
  padding: 10px;
  border-radius: 10px;
}

.horario-section {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  margin-top: 2rem;
  padding: 2rem;
  width: 100%;
}

.horario-section h2 {
  color: #222;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}

.horario-table1 {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.horario-table1 th,
.horario-table1 td {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
}

.horario-table1 th {
  background-color: #fafafa;
  font-weight: 600;
  color: #222;
}

.horario {
  display: inline-block;
  background-color: #f3d9df;
  padding: 4px 10px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 0.9rem;
  color: #7d0024;
}

.download-button {
  display: flex;
  justify-content: center; /* 👈 centra horizontalmente los botones */
  align-items: center;     /* 👈 los alinea verticalmente */
  gap: 15px;               /* 👈 espacio entre los botones */
  margin-top: 20px;        /* opcional: separa del contenido superior */
}
